// Body reset
// -------------------------

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


html, body {
    height: 100%;
}

body {
    background: $body-bg;
    font-family: $font-family--primary;
    font-size: $base__font-size;
    line-height: $base__line-height;
    color: $text-color;
    font-weight: $text-weight;
    overflow-x: hidden;
    position: relative;
}

// Reset fonts for relevant elements
// -------------------------

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

// Links
// -------------------------

a {
    color: $link-color; text-decoration: none; font-weight: 700;
    @include transition(150ms);

    &:hover,
    &:focus {
        color: $link-hover-color;
        text-decoration: none;
    }
}

// Horizontal rules
// -------------------------

hr {
    border: 0;
    clear: both;
    width: 100%;
    height: 1px;
    border-top: 1px solid $hr-border;
    margin-top: $line-height-computed;
    margin-bottom: $line-height-computed;
}

// Browse Happy
// -------------------------

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Images
// -------------------------

img {
    width:100%;
    height:100%;
    display:block;
}

// Lists
// -------------------------

ul {
    padding-left: 0;
    list-style-type: none;
}

// Selection
// -------------------------

::selection {
    background: $color-primary;
    color: $white;
}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

  small,
  .small {
      font-weight: 400;
      line-height: 1;
      color: $headings-small-color;
      display: inline-block;
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
    margin-top: 0;
    margin-bottom: 0;

    small,
    .small {
        font-size: 65%;
    }

    span {
        font-weight: 400;
    }
}
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    margin-bottom: 0;

    small,
    .small {
        font-size: 75%;
    }
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

// Body text
// -------------------------

p { margin: 0; }

// Emphasis & misc
// -------------------------

strong {
    font-weight: 700;
    color: $link-color;
}
em { font-style: italic; }

// Blockquotes
// -------------------------

blockquote {
    padding: ($line-height-computed / 2) $line-height-computed;
    margin: 15px 0;
    font-size: $blockquote-font-size;
    border-left: 5px solid $blockquote-border-color;

    p,
    ul,
    ol {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Quotes
// -------------------------

blockquote:before,
blockquote:after {
    content: "";
}

// Tables
// -------------------------

table {
    background-color: $table-bg;
}
th {
    text-align: left;
}

// Baseline styles

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: $line-height-computed;
    // Cells
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: $table-cell-padding;
                line-height: $base__line-height;
                vertical-align: top;
                border-top: 1px solid $table-border-color;
            }
        }
    }
    // Bottom align for column headings
    > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid $table-border-color;
    }
    // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
        > tr:first-child {
            > th,
            > td {
                border-top: 0;
            }
        }
    }
    // Account for multiple tbody instances
    > tbody + tbody {
        border-top: 2px solid $table-border-color;
    }

    // Nesting
    .table {
        background-color: $body-bg;
    }

    > thead {
        background-color: $gray-lighter;
    }
}

table {
    border: 1px solid $table-border-color;
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                border: 1px solid $table-border-color;
            }
        }
    }
    > thead > tr {
        > th,
        > td {
            border-bottom-width: 2px;
        }
    }
}
