.mod-company
  @include breakpoint($breakpoint-s)
    @include layout($s-layout)
    padding: 1em

    img
      margin-left: 0
      height: 50px
      width: auto
      padding: 10px

  @include breakpoint($breakpoint-m)
    @include layout($m-layout)
    background-color: $white
    margin-bottom: 2em

  @include breakpoint($breakpoint-l)
    @include layout($l-layout)
